.searchbar-container {
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 26px 20px;
    border-bottom: 2px solid silver;
    margin-bottom: 15px;
}

.search-instagram-icon {
    display: flex;
    align-items: center;
}

.slice {
    width: 2px;
    height: 28px;
    background-color: black;
    margin: 0 16px;
}

.logo {
    height: 35px;
    width: 115px;
}

.the-search-bar {
    border: 2px solid silver;
    border-radius: 10px;
    padding: 5px;
}

.far {
    margin: 0 10px;
    font-size: 20px;
}

.fab {
    font-size: 30px;
    font-weight: bold;
}