.postHeader {
    display: flex;
    border: 2px solid silver;
    border-radius: 10px 10px 0 0;
    width: 80%;
    margin: auto;
    padding: 15px 0;
}

.userThumbnail {
    border-radius: 50%;
    height: 30px;
    margin-left: 15px;
}

.header-username {
    font-weight: bold;
    margin: 0 15px;
}

.post-content {
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
    border: 2px solid silver;
    border-radius: 0 0 10px 10px;
}

.imageUrl {
    width: 100%;
}